@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

header {
  background-color: #6495ed;
  color: #faebd7;
  /* padding: 65px 30px; */
  text-align: right;
  /* font-size: 3.5vh; */
}
header h1 {
  padding-right: 10%;
  padding-top: 71px;
  padding-bottom: 31px;
}

hr {
  width: 80%;
  margin: 0 auto;
  background-color: #faebd7;
  height: 2px;
  border: none;
}
ul {
  padding-right: 10%;
  padding-bottom: 66px;
}
li {
  padding-top: 20px;
  list-style: none;
}

body {
  background-color: #faebd7;
  font-family: Helvetica, Arial, sans-serif;
}

main {
  background-color: #faebd7;
}

.post-date {
  color: gray;
  padding-bottom: 15px;
}

article {
  margin-top: 45px;
  margin-left: 25px;
  margin-right: 25px;
  background-color: white;
  padding: 25px;
}

img {
  padding-top: 95px;
  display: block;
  margin: 0 auto;
  width: 60%;
}

article p {
  padding-top: 30px;
  padding-bottom: 65px;
}

/* #region Media Queries for Large */

@media screen and (min-width: 385px) {
  header {
    background-color: pink;
    top: 0;
    left: 0;
    /* height: 971px; */
    min-height: 210%;
    width: 340px;
    position: absolute;
  }

  main {
    top: 0;
    left: 341px;
    position: absolute;
  }

  article {
    min-width: 800px;
    margin-top: 45px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: white;
    padding: 25px;
  }
}

/* endregion */

/* #region default links not needed?? */
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
  color: #faebd7;
  text-decoration: none;
}

/* #endregion */

/* #region nav links */
/* nav a,
nav a:visited {
  color: #faebd7;
  text-decoration: none;
} */

nav a:active {
  color: #deb887;
}

nav a:hover {
  color: white;
  text-decoration: underline;
}
/* #endregion */

/* #region page links */
article p a,
article p a:visited {
  color: #6495ed;
  text-decoration: none;
}

article p a:active {
  color: #deb887;
}

article p a:hover {
  text-decoration: underline;
}
/* #endregion */

/* #region article links */
article h2 a,
article h2 a:visited {
  color: black;
  text-decoration: none;
}

article h2 a:active {
  color: #deb887;
}

article h2 a:hover {
  color: #6495ed;
  text-decoration: underline;
}
/* #endregion */

/* 

 x The font for the headlines is Lora and can be found on Google fonts
 x The font list for the body copy is: Helvetica, Arial, sans-serif
 x The blue color is #6495ED.
 x The background color used for <main> and the color of the text on the blue sidebar is #FAEBD7

 x Navigation links should behave thus: normal and visited: #FAEBD7 and no underline , active: #DEB887, hover: white and underlined
 x Other page links should behave thus: normal and visited: #6495ED and no underline , active: #DEB887, hover: underlined
 x Article title links should behave thus: normal and visited: black and no underline , active: #DEB887, hover: #6495ED and underlined

*/
