@import "typography";
@import "icons";

$sm-break: 48em;
// colors
$dark-gray: #727272;
$med-gray: #b4b3b5;
$light-gray: #eaeaea;
$body-font: #020202;
$link-blue: #0076b6; //why do we have both of these blues?
$byui-blue: #056cb6;

// Utility classes
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}

img {
  max-width: 100%;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

// My SCSS

// .site-banner__right {
//   height: 20%;
//   color: white;
// }

// .ste-banner__left {
//   height: 20%;

// }

.site-banner {
  background-color: #056cb6;
  display: flex;
  flex-direction: row;
  font-size: 1.25rem;
  justify-content: space-between;
  padding: 8px 10px;
}

.icon-byui-logo {
  background-color: black;
  padding: 10px;
  margin-left: -10px;
}

form {
  display: none; //!! small only
}

a {
  text-decoration: none;
}

span {
  color: white;
}

// Univ Title
.school-banner {
  color: $med-gray;
  background-color: $light-gray;
  width: 100vw;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.school-banner > h1 {
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}

// main section - left
// #main-video { //!! not sure I need this
//   display: flex;
//   justify-content: center;
// }

figure {
  padding: 20px;
}

// Hide the main video for small screens
// #main-video {
//   display: none;
// }
