// variables to follow

//screen sizing
$break-small: 20em;
$break-medium: 31em;
$break-large: 60em;

//colors
$body-background-color: darkred;
$form-background-color: white;
$input-color: white;
$headlines-color: white;

@mixin  center($width, $max-width: 960px) {
    width: $width;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: $body-background-color;
}

#contactform {
    background-color: $form-background-color;
    input, textarea {
        background-color: $input-color;
        flex: 2;
    }
    @media (min-width: $break-small) {
        & {
            @include center(90%, 700px)
        }
    }
}

